<div class="well" id="comment_<%= comment.id %>">
  <p><%= comment.body %></p>
  <p id="comment-user">-<%= comment.user.username %></p>

  <% if comment.user == current_user %>

    <%= link_to edit_project_comment_path(commentable, comment), remote: true, 'data-toggle' => 'modal', 'data-target' => '#edit-comment-modal-window' do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>

    <%= link_to [commentable, comment], method: :delete, data: { confirm: "Are you sure ?" } do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>

  <% end %>
</div>
