<div class="container">
  <h2 class="title-header">Add new Client</h2>

  <%= form_for @client do |f| %>

    <div class="field form-group">
      <%= f.label :name , class: "label-space" %><br />
      <%= f.text_field :name, class: "form-control", autofocus: true %>
    </div>

    <div class="field form-group">
      <%= f.label :email, class: "label-space" %><br />
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field form-group">
      <%= f.label :country , class: "label-space" %><br />
      <%= f.text_field :country, class: "form-control", autofocus: true %>
    </div>

    <br>
    <div class="action" align="center">
      <%= f.submit "Add Client", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>
