<h3 class="title-header">Our Clients</h3><br>

<div class='row margin-btm-5'>
  <%= link_to new_client_path, class: "btn btn-primary add-client-btn" do %>
    <span class="glyphicon glyphicon-user"></span>Add Client
  <% end %>
</div>

<div class="row">
  <% @clients.each do |client| %>
    <div class="col-sm-3">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= client.name %></h3>
          <span class="glyphicon glyphicon-user client-icon"></span>
          <h4><%= client.country %></h4>
          <h5><%= client.email %></h5>
          <p><%= link_to "Edit", edit_client_path(client.id), class: "btn btn-primary" %> <%= link_to "Delete", client, class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure ?"} %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
