<!DOCTYPE html>
<html>
<head>
  <title>PMS</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render "shared/header" %>
  <div class="container-fluid">
    <%= show_profile_picture %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>"><%= value %></div>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
